.hover:hover svg{
    fill: var(--color_one);
    transition: fill 0.5s;
}
.hover:hover p{
    color: var(--color_one);
    transition: color 0.5s;
}
.svg_width{
    width: calc(4vh);
    fill: var(--color_two);
}
.bg_color{
    background-color: var(--color_five);
}
.text_color_two{
    font-weight: 600;
}
.border_left{
    border-left: 1px solid;
    border-color: var(--color_two);
}
.bg_color:hover{
    color: rgb(63, 63, 63);
}