.svg_width{
    width: calc(2vh + 2vw);
}
.border{
    border-radius: 20px;
}
.pt_1{
    padding-top: calc(1.5vw);
}
.pb_1{
    padding-bottom: calc(0.5vw);
}
.input{
    padding-top: calc(1.5vh);
    padding-bottom: calc(1.5vh);
    border-radius: 10px;
}