<section class="room row_evenly item_center inherit col_17">
    <div class="col_17 col_between item_center">
        <div class="col_1">
            <svg xmlns="http://www.w3.org/2000/svg" (click)="eventStoreAdd()" class="svg_width" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </div>
        <div class="col_16 bg_color_one title">
            <h1 class="size_3 text_center">{{textTitle}}</h1>
        </div>
    </div>
    <form (ngSubmit)="createStore()" [formGroup]="storeForm" class="col_17 border row_between room">
        <div class="col_17 col_between pt_1">
            <div class="col_5 row_center">
                <label class="size_1 pb_1">{{textName}}</label>
                <input type="text" class="input size_1" placeholder="Ingresar la Razón Social del Almacén" formControlName="nameStore">
            </div>
            <div class="col_3 row_center">
                <label class="size_1 pb_1">{{textNIT}}</label>
                <input type="number" class="input size_1" placeholder="Número Tributario" formControlName="numberNit">
            </div>
            <div class="col_5 row_center">
                <label class="size_1 pb_1">{{textType}}</label>
                <input type="text" class="input size_1" placeholder="Mercantil" formControlName="typeStore">
            </div>
            <div class="col_3 row_center">
                <label class="size_1 pb_1">{{textPhoneNumber}}</label>
                <input type="number" class="input size_1" placeholder="Número Telefono" formControlName="phoneNumber">
            </div>
        </div>
        <div class="col_17 col_between pt_1">
            <div class="col_5 row_center">
                <label class="size_1 pb_1">{{textEmail}}</label>
                <input type="text" class="input size_1" placeholder="Ingresar Correo Electrónico" formControlName="email">
            </div>
            <div class="col_3 row_center">
                <label class="size_1 pb_1">{{textCode}}</label>
                <input type="number" class="input size_1" placeholder="Actividad Económica" formControlName="codeCIIU">
            </div>
            <div class="col_3 row_center">
                <label class="size_1 pb_1">{{textCity}}</label>
                <input type="text" class="input size_1" placeholder="Ingresar Ciudad" formControlName="city">
            </div>
            <div class="col_5 row_center">
                <label class="size_1 pb_1">{{textAddress}}</label>
                <input type="text" class="input size_1" placeholder="Ingresar la Dirección del Alamacen" formControlName="address">
            </div>
        </div>
        <div class="col_17 col_center py_1">
            <button type="submit" class="btn_one size_2 col_5">{{textAccept}}</button>
        </div>
    </form>
</section>