<section  class="pe_1 row_evenly inherit">
    <div class="col_17 bg_color_one title">
        <h1 class="size_3 text_center">{{textTitle}}</h1>
    </div>
    <div class="col_between">
        <div class="col_8 py_1" *ngFor="let productGroup of productMoreSold; let n = index">
            <div class="space" *ngFor="let productItem of productGroup; let i = index">
                <a (click)="modalEvent(n, i)" class="col_17 col_center item_center p_1 note">
                    <div class="col_center item_center">
                        <h3 class="px_2 size_1">{{productItem.productName}}</h3>
                        <p class="size_1">{{productItem.totalDetailAmount}}<span class="px_1 size_1">{{textUnit}}</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>