@import url(/src/styles.scss);

.img_width{
    width: calc(6vw);
    height: calc(7vh);
    border: 1px solid;
    border-radius: 50px;
    border-color: var(--color_three);
}
.space{
    padding-top: calc(1vh);
}
.svg_width{
    width: calc(20vh);
}
.border{
    border-radius: 10px;
}
.hover_special:hover h1 {
    color: var(--color_fifteen);
}