<section  class="pe_1 row_center inherit">
    <div class="col_17 bg_color_one title">
        <h1 class="size_3 text_center">{{title}}</h1>
    </div>
    <div class="col_between">
        <div class="col_8">
            <div class="py_1">
                <a href="" class="col_17 col_center item_center p_1 note">
                    <div class="col_center item_center">
                        <h3 class="px_2 size_1">{{product}}</h3>
                        <p class="size_1">18<span class="px_1 size_1">{{unit}}</span></p>
                    </div>
                </a>
            </div>
            <div>
                <a href="" class="col_17 col_center item_center p_1 note">
                    <div class="col_center item_center">
                        <h3 class="px_2 size_1">{{product}}</h3>
                        <p class="size_1">18<span class="px_1 size_1">{{unit}}</span></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col_8">
            <div class="py_1">
                <a href="" class="col_17 col_center item_center p_1 note">
                    <div class="col_center item_center">
                        <h3 class="px_2 size_1">{{product}}</h3>
                        <p class="size_1">18<span class="px_1 size_1">{{unit}}</span></p>
                    </div>
                </a>
            </div>
            <div>
                <a href="" class="col_17 col_center item_center p_1 note">
                    <div class="col_center item_center">
                        <h3 class="px_2 size_1">{{product}}</h3>
                        <p class="size_1">18<span class="px_1 size_1">{{unit}}</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>