.border_bottom{
    border-bottom: 1px solid;
    border-color: var(--color_three);
    padding-bottom: calc(2vh);
}
.py_1{
    padding-top: calc(1vh);
    padding-bottom: calc(1vh);
}
.text_color{
    font-weight: 600;
}
.text_color_one{
    font-weight: 600;
    color: var(--color_fifteen);
}