<section  class="room row_evenly inherit col_17">
    <div class="h_10 row_center">
        <div class="col_17 bg_color_one title">
            <h1 class="size_3 text_center">{{textTitle}}</h1>
        </div>
    </div>
    <div class="col_17 border">
        <div class="col_17 h_30 row_between px_2">
            <table class="size_1 col_17">
                <thead>
                    <tr>
                        <th class="col_6">{{textNameProduct}}</th>
                        <th class="col_2">{{textCode}}</th>
                        <th class="col_4">{{textDescription}}</th>
                        <th class="col_2">{{textSalesPrices}}</th>
                        <th class="col_3">{{textOption}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let productItem of products; let i = index">
                        <ng-container *ngIf="i < 3">
                            <td class="text_color_two">{{productItem.productName}}</td>
                            <td class="text_center text_color_two">{{productItem.productCode}}</td>
                            <td class="text_center text_color_two">{{productItem.productDescription}}</td>
                            <td class="text_center text_color_two">{{productItem.productPrice}}</td>
                            <td class="text_center text_color_two col_evenly">
                                <button (click)="modalEvent()" class="btn_one">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg_width" fill="" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </button>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>