<section  class="room row_evenly inherit col_17">
    <div class="h_10 row_center">
        <div class="col_17 bg_color_one title">
            <h1 class="size_3 text_center">{{textTitle}}</h1>
        </div>
    </div>
    <form (ngSubmit)="createProduct()" [formGroup]="productForm" class="col_17 border row_between room py_1">
        <div class="col_17 col_between">
            <div class="col_5 row_center">
                <label class="size_2 pb_1">{{textNameProduct}}</label>
                <input type="text" class="input size_1" placeholder="Ingrese el nombre del Producto" formControlName="nameProduct">
            </div>
            <div class="col_3 row_center">
                <label class="size_2 pb_1">{{textPrice}}</label>
                <input type="text" class="input size_1" formControlName="priceProduct">
            </div>
            <div class="col_3 row_center">
                <label class="size_2 pb_1">{{textIva}}</label>
                <input type="text" class="input size_1 bg_color_four" readonly>
            </div>
            <div class="col_3 row_center">
                <label class="size_2 pb_1">{{textAmount}}</label>
                <input type="text" class="input size_1" formControlName="amountProduct">
            </div>
        </div>
        <div class="col_17 col_between py_1">
            <div class="col_5 row_center">
                <label class="size_2 pb_1">{{textCategory}}</label>
                <input type="text" class="input size_1" placeholder="Ingresar la Categoria" formControlName="categoryProduct">
            </div>
            <div class="col_11 row_center">
                <label class="size_2 pb_1">{{textDescription}}</label>
                <input type="text" class="input size_1" placeholder="Ingresar la descripcion del producto" formControlName="descriptionProduct">
            </div>
        </div>
        <div class="col_17 col_center">
            <button type="submit" class="btn_one size_2 col_5">{{textPay}}</button>
        </div>
    </form>
</section>