<section  class="room row_evenly inherit col_17">
    <div class="h_10 row_center">
        <div class="col_17 bg_color_one title">
            <h1 class="size_3 text_center">{{title}}</h1>
        </div>
    </div>
    <div class="col_17 border row_between room py_1">
        <div class="col_17 col_between">
            <div class="col_5 row_center">
                <label class="size_2 pb_1">{{nameProduct}}</label>
                <input type="text" class="input size_1" placeholder="Ingrese el nombre del Producto">
            </div>
            <div class="col_3 row_center">
                <label class="size_2 pb_1">{{price}}</label>
                <input type="text" class="input size_1">
            </div>
            <div class="col_3 row_center">
                <label class="size_2 pb_1">{{iva}}</label>
                <input type="text" class="input size_1 bg_color_four" readonly>
            </div>
            <div class="col_3 row_center">
                <label class="size_2 pb_1">{{amount}}</label>
                <input type="text" class="input size_1">
            </div>
        </div>
        <div class="col_17 col_between py_1">
            <div class="col_5 row_center">
                <label class="size_2 pb_1">{{category}}</label>
                <input type="text" class="input size_1" placeholder="Ingresar la Categoria">
            </div>
            <div class="col_11 row_center">
                <label class="size_2 pb_1">{{description}}</label>
                <input type="text" class="input size_1" placeholder="Ingresar la descripcion del producto">
            </div>
        </div>
        <div class="col_17 col_center">
            <button class="btn_one size_2 col_5">{{pay}}</button>
        </div>
    </div>
</section>