<section  class="room row_evenly inherit col_17">
    <div class="h_10 row_center">
        <div class="col_17 bg_color_one title">
            <h1 class="size_3 text_center">{{textTitle}}</h1>
        </div>
    </div>
    <form (ngSubmit)="CreateProducts()" [formGroup]="productForm" class="col_17 border row_between room py_1">
        <div class="col_17 col_between">
            <div class="col_7 row_center">
                <label class="size_2 pb_1">{{textNameProduct}}</label>
                <input type="text" class="input size_1" placeholder="Ingrese el nombre del Producto" formControlName="nameProduct">
            </div>
            <div class="col_3 row_center">
                <label class="size_2 pb_1">{{textPriceSale}}</label>
                <input type="number" class="input size_1" formControlName="priceSaleProduct">
            </div>
            <div class="col_3 row_center">
                <label class="size_2 pb_1">{{textPriceCost}}</label>
                <input type="number" class="input size_1" formControlName="priceCostProduct">
            </div>
            <div class="col_3 row_center">
                <label class="size_2 pb_1">{{textIva}}</label>
                <input type="number" class="input size_1" formControlName="ivaProduct">
            </div>
        </div>
        <div class="col_17 col_between py_1">
            <div class="col_5 row_center">
                <label class="size_2 pb_1">{{textCategory}}</label>
                <select formControlName="categoryProduct" class="select size_1">
                    <option class="size_1" value="" disabled selected>Ingrese la Categoria</option>
                    <option class="size_1" *ngFor="let categoryItem of category" [ngValue]="categoryItem">{{ categoryItem.categoryName }}</option>
                </select>
            </div>
            <div class="col_3 row_center">
                <label class="size_2 pb_1">{{textAmount}}</label>
                <input type="number" class="input size_1" formControlName="amountProduct">
            </div>
            <div class="col_8 row_center ">
                <label class="size_2 pb_1">{{textDescription}}</label>
                <input type="text" class="input size_1" placeholder="Ingresar la descripcion del producto" formControlName="descriptionProduct">           
            </div>
            </div>
        <div class="col_17 col_center">
            <button type="submit" class="btn_one size_2 col_5">{{textPay}}</button>
        </div>
        
    </form>
</section>