<main class="h_100 col_start">
    <app-modal-one *ngIf="modalOne" (modalActivateOne)="modalActivateOne($event)" (customerId)="getCustomerId($event)" class="h_100"></app-modal-one>
    <app-modal-two *ngIf="modalTwo" (modalActivateTwo)="modalActivateTwo($event)" [invoiceEnd]="invoiceEnd" [detailInvoice]="detailInvoice" class="h_100"></app-modal-two>
    <app-section-navbar class="col_2"></app-section-navbar>
    <section class="col_10 h_100">
        <div class="col_17">
            <app-section-one class="h_30"></app-section-one>
            <app-section-two (selectProducts)="selectProducts($event)" class="h_70"></app-section-two>
        </div>
    </section>
    <section class="col_5">
        <app-section-three (modalActivateOne)="modalActivateOne($event)" (modalActivateTwo)="modalActivateTwo($event)" [detailInvoice]="detailInvoice" [totalPriceProducts]="totalPriceProducts" class="h_100"></app-section-three>
    </section>
</main>