<section  class="row_evenly inherit">
    <div class="col_17 bg_color_one title">
        <h1 class="size_3 text_center">{{textTitle}}</h1>
    </div>
    <div class="border room py_1">
        <form action="" class="col_17 room">
            <div class="col_center">
                <div class="col_6 item_center">
                    <p class="size_2">{{textDate}}</p>
                </div>
                <div class="col_17">
                    <input type="text" class="input col_12 size_2" [(ngModel)]="date" placeholder="{{date}}" name="date">
                </div>
            </div>
            <div class="col_center py_1">
                <div class="col_6 item_center">
                    <p class="size_2">{{textStore}}</p>
                </div>
                <div class="col_17">
                    <input type="text" class="input col_12 size_2" [(ngModel)]="store" placeholder="General" name="store">
                </div>
            </div>
            <div class="col_center">
                <div class="col_6 item_center">
                    <p class="size_2">{{textOpeningBox}}</p>
                </div>
                <div class="col_17">
                    <input type="number" class="input col_12 size_2" [(ngModel)]="openingBox" name="openingBox">
                </div>
            </div>
            <div class="col_center py_1">
                <div class="col_6 item_center">
                    <p class="size_2">{{textTotal}}</p>
                </div>
                <div class="col_17">
                    <input type="number" class="input col_12 size_2 bg_color_four" value="{{openingBox}}" readonly>
                </div>
            </div>
            <div class="col_center">
                <div class="col_8">
                    <button (click)="createOpening()" class="col_15 btn_one cursor size_2">{{textTitle}}</button>
                </div>
            </div>
        </form>
    </div>
</section>