.input{
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 8px;
}
.border{
    border-radius: 20px;
}
.select{
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.pt_1{
    padding-top: calc(2vh);
}
.pb_1{
    padding-bottom: calc(1vh);
}
.color_text{
    color: var(--color_ten);
}