@import url(/src/styles.scss);

.text_a{
    text-decoration: underline;
    color: var(--color_fifteen);
    font-weight: 500;
}
.svg_width{
    width: calc(20vh + 10vw);
}
.pb_2{
    padding-bottom: calc(2vw);
}