<section class="h_100 px_3">
    <div class="h_30 col_center item_center">
        <div class="col_17">
            <h1 class="text_center">Imagen Logo La Ciguenia</h1>
        </div>
    </div>
    <div class="h_60 col_center item_center">
        <div class="col_17">
            <div class="py_2">
                <h3 class="size_4 text_center">{{signIn}}</h3>
            </div>
            <div>
                <input type="text" class="input col_17 size_1" placeholder="Ingresar el Correo Electrónico">
            </div>
            <div class="py_1">
                <input type="text" class="input col_17 size_1" placeholder="Contraseña">
            </div>
            <div class="py_1 col_between">
                <div>
                    <p>{{forgotPassword}}</p>
                </div>
                <div>
                    <p>{{createAccount}}</p>
                </div>
            </div>
            <div class="py_1">
                <button class="col_17 size_3 btn_one">{{signIn}}</button>
            </div>
        </div>
    </div>

                    
    <div class="h_10 col_center item_center">
        <div class="col_17">
            <p class="text_center size_1 text_color_two">{{needHelp}}<a href="" class="text_a">{{here}}</a></p>
        </div>
    </div>
</section>
