.error_placeholder::placeholder{
    color: var(--color_ten);
}
.text_color{
    color: var(--color_ten);
}
.text_a{
    text-decoration: underline;
    color: var(--color_fifteen);
    font-weight: 500;
}
.svg_width{
    width: calc(20vh + 10vw);
}
.pb_2{
    padding-bottom: calc(2vw);
}
.font_color:hover{
    color: var(--color_fourteen);
}
.font_color:focus{
    color: var(--color_fifteen);
}
.border_special{
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.border_special:hover{
    box-shadow: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.border_special:focus{
    border: none;
    box-shadow: none;
    outline: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.svg_icon{
    width: calc(3.5vh);
}
.border{
    border-radius: 15px;
}