<main class="h_100 col_start">
    <app-modal-one *ngIf="modalOne" [product]="product" (modalActivateOne)="modalActivateOne($event)" class="h_100"></app-modal-one>
    <app-section-navbar class="col_2"></app-section-navbar>
    <section class="col_15 h_100">
        <app-section-header class="col_17 h_8 d_none_mv"></app-section-header>
        <app-section-one [countInvoiceDay]="countInvoiceDay" [salesTotalDay]="salesTotalDay" [expenseTotalDay]="expenseTotalDay" (sendStore)="sendStore($event)"  class="col_17 col_17_mv h_22"></app-section-one>
        <section class="room col_17 col_17_mv col_start h_67">
            <div class="col_13 col_17_mv">
                <app-section-two (sendDetailProductMoreSold)="sendDetailProductMoreSold($event)" [productMoreSold]="productMoreSold" (modalActivateOne)="modalActivateOne($event)" class="h_30"></app-section-two>
                <app-section-three [countInvoiceMonth]="countInvoiceMonth" [salesTotalMonth]="salesTotalMonth" [expenseTotalMonth]="expenseTotalMonth" class="h_40"></app-section-three>
            </div>
            <app-section-four class="col_4 col_17_mv h_67"></app-section-four>
        </section>
    </section>
</main>