.svg_width{
    width: calc(2vh + 2vw);
}
.svg_width_draw{
    width: calc(12vh + 12vw);
}
.border{
    border-radius: 20px;
}
.pb_1{
    padding-bottom: calc(0.5vw);
}
.input{
    padding-top: calc(1.5vh);
    padding-bottom: calc(1.5vh);
    border-radius: 10px;
}