.ng-valid:not(form).ng-touched   {
    text-align: center;
    border: 1px solid;
    border-color: var(--color_fifteen);
    border-radius: 10px;
    padding-top: calc(1vh);
    padding-bottom: calc(1vh);
}
.ng-valid:hover.ng-touched   {
    text-align: center;
    border: 1px solid;
    border-color: var(--color_fifteen);
    border-radius: 10px;
    padding-top: calc(1vh);
    padding-bottom: calc(1vh);
}
.ng-valid:focus.ng-touched   {
    text-align: center;
    text-indent: 0%;
    border: 1px solid var(--color_thirteen);
    box-shadow: 0 0 4px var(--color_thirteen);
    outline: none;
}
.img_width{
    width: calc(4vw);
    height: calc(8vh);
    border-radius: 50%;
}
.py_1{
    padding-top: calc(0.2vw);
    padding-bottom: calc(0.2vw);
}
.note:hover .text_color_one{
    color: var(--color_fifteen);
}
.note:hover .text_color_two{
    color: var(--color_one);
}
.space{
    padding-top: calc(0.5vw);
    padding-bottom: calc(0.5vw);
}
.scroll {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scroll::-webkit-scrollbar {
    width: 0px;
}
.svg_width{
    width: calc(3vh);
}
.svg_width_two{
    width: calc(20vw);
}
.cursor{
    cursor: pointer;
}
.input{
    text-indent: 0%;
    text-align: center;
    border: 1px solid;
    border-color: var(--color_fifteen);
    border-radius: 10px;
    padding-top: calc(1vh);
    padding-bottom: calc(1vh);
}
.input:hover{
    border-color: var(--color_thirteen);
}
.input:focus{
    border: 1px solid var(--color_thirteen);
    box-shadow: 0 0 4px var(--color_thirteen);
    outline: none;
}