<section class="col_center item_center inherit bg_color_black z_index">
  <div class="col_9 room border h_70 row_evenly bg_color_white">
    <div class="col_17 bg_color_one title col_5">
      <div class="col_17 size_2">
        <h1 class="size_3 text_center">{{textTitle}}</h1>
      </div>
    </div>
    <div class="col_17 col_between">
      <div class="col_4 h_20 border">
          <img src="" alt="">
      </div>
      <div class="col_12 row_evenly">
          <div class="col_17">
              <div class="col_17 col_between">
                <div class="col_10 row_evenly">
                  <label class="size_2">{{textNameProduct}}</label>
                  <label class="col_17 size_1 row_evenly text_color_one py_1" readonly>{{product.productName}}</label>
                </div>
                <div class="col_7 row_evenly">
                  <label class="size_2 text_end">{{textPriceSale}}</label>
                  <label class="col_17 size_1 text_end py_1 text_color_one" readonly>{{textSymbol}} {{product.productPrice | number}}</label>
                </div>
              </div>
          </div>
          <div class="col_17">
            <div class="col_17 col_between">
              <div class="col_10 row_evenly">
                <label class="size_2">{{textDescription}}</label>
                <label class="col_17 size_1 text_color_one py_1" readonly> {{product.productDescription}}</label>
              </div>
              <div class="col_7 row_evenly">
                <label class="size_2 text_end">{{textCategory}}</label>
                <label class="col_17 size_1 text_end py_1 text_color_one" readonly>{{product.categoryName}}</label>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col_17 size_2">
      <div class="border-top"></div>
        <h1 class="size_2 text_start">{{textInformation}}</h1>
      <div class="border-bottom"></div> 
    </div>
    <div class="col_17 col_between">
      <div class="col_8 row_evenly">
        <label class="size_2">{{textNumber}}</label>
        <label type="text" class="col_17 size_1 py_1 text_color_one" readonly>{{product.productId}}</label>
      </div>
      <div class="col_8 row_evenly">
        <label class="size_2 text_center">{{textDate}}</label>
        <label class="col_17 size_1 py_1 text_center text_color_one" readonly>{{currentDate}}</label>
      </div>
      <div class="col_13 row_evenly">
        <label class="size_2 text_center">{{textAmount}}</label>
        <label class="col_17 size_1 py_1 text_center text_color_one" readonly>{{product.totalDetailAmount}}</label>
      </div>
      <div class="col_10 row_evenly">
        <label class="size_2 text_end">{{textExist}}</label>
        <label class="col_17 size_1 py_1 text_end text_color_one" readonly>{{product.inventoryAmount}}</label>
      </div>
    </div>
    <div class="col_17 col_between">
      <div class="col_8">
        <button class="col_17 btn_two size_2"(click)="modalEvent()">{{textFail}}</button>
      </div>
      <div class="col_8">
        <button class="col_17 btn_one size_2">{{textEdit}}</button>
      </div>
    </div>
  </div>
</section>
  