<section class="col_center item_center inherit bg_color_black z_index">
    <div class="col_10 room border h_65 row_evenly bg_color_white">
        <div class="col_17 bg_color_one title col_5">
            <div class="col_17 size_2">
            <h1 class="size_3 text_center">{{textTitle}}</h1>
            </div>
        </div>
        <div class="col_17 col_between">
            <div class="col_6 h_20 border">
                <img src="imageUrl" alt="Rectangle28.png">
            </div>
            <div class="col_11 row_evenly">
                <div class="col_17">
                    <div class="col_17 col_between" style="justify-content: flex-end;">
                        <div class="col_8 row_evenly">
                            <label for="" class="size_2">{{textNameProduct}}</label>
                            <label for="" class="col_17 size_1 row_evenly text_color_one py_1" value="Nombre Producto" readonly>HEILER ES GAY</label>
                        </div>
                        <div class="col_8 row_evenly">
                            <label for="" class="size_2 text_end">{{textPriceSale}}</label>
                            <label for="" class="col_17 size_1 text_end py_1 text_color_one" value="Precio Venta" readonly>HEILER ES GAY</label>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col_17 col_between" style="justify-content: flex-end;">
                        <div class="col_8 row_evenly">
                        <label for="" class="size_2">{{textDescription}}</label>
                        <label for="" class="col_17 size_1 text_color_one py_1"value="descripcion" readonly>HEILER ES GAY</label>
                        </div>
                        <div class="col_8 row_evenly">
                        <label for="" class="size_2 text_end">{{textCategory}}</label>
                        <label for="" class="col_17 size_1 text_end py_1 text_color_one" value="Categoria" readonly>HEILER ES GAY</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
         <div class="col_17 size_2">
            <div class="border-top"></div>
                <h1 class="size_2 text_start">Informacion General Inventario</h1>
            <div class="border-bottom"></div> 
         </div>
      <div class="col_17 col_between">
        <div class="col_8 row_evenly">
          <label for="" class="size_2">{{textNumber}}</label>
          <label type="text" class="col_17 size_1 py_1 text_color_one" value="No." readonly>HEILER ES GAY</label>
        </div>
        <div class="col_8 row_evenly">
          <label for="" class="size_2 text_center">{{textDate}}</label>
          <label for="" class="col_17 size_1 py_1 text_center text_color_one" value="Fecha" readonly>HEILER ES GAY</label>
        </div>
      <div class="col_13 row_evenly">
        <label for="" class="size_2 text_center">{{textAmount}}</label>
        <label for="" class="col_17 size_1 py_1 text_center text_color_one" value="Unidades Vendidas" readonly>HEILER ES GAY</label>
      </div>
      <div class="col_10 row_evenly">
        <label for="" class="size_2 text_end">{{textExist}}</label>
        <label for="" class="col_17 size_1 py_1 text_end text_color_one" value="Existencias" readonly>HEILER ES GAY</label>
      </div>
      </div>
      <div class="col_17 col_between">
        <div class="col_17 col_between">
          <button class="col_15 btn_one size_2">{{textEdit}}</button>
        </div>
        <div class="col_17 col_end">
          <button class="col_15 btn_two size_2"(click)="modalEvent()">{{textFail}}</button>
        </div>
      </div>
    </div>
  </section>
  