<section  class="col_center item_center inherit bg_color_black z_index">
    <div class="col_8 room border h_58 row_evenly bg_color_white">
        <div class="col_17 bg_color_one title">
            <h1 class="size_3 text_center">{{textTitle}}</h1>
        </div>
        <div class="h_35 row_evenly">
            <div class="col_17">
                <div class="col_between py_1 border_top">
                    <p class="size_1">{{textSubtotal}}</p>
                    <p class="size_1">{{textSymbolPrice}} {{invoiceEnd.invoiceTotal | number}}</p>
                </div>
                <div class="col_between py_1 border_y">
                    <p class="size_1">{{textIva}}</p>
                    <p class="size_1">{{textSymbolPrice}} {{invoiceEnd.invoiceIva | number}}</p>
                </div>
                <div class="col_between py_1 border_bottom">
                    <p class="size_2 item_center">{{textTotal}}</p>
                    <p class="size_3 text_color_one">{{textSymbolPrice}} {{invoiceEnd.invoiceTotal | number}}</p>
                </div>
            </div>
            <div class="col_17">
                <div class="col_between">
                    <form [formGroup]="methodPaymentForm" class="col_8">
                        <select formControlName="selectedPaymentMethod" class="col_17 select text_weight size_2">
                            <option class="size_1" value="" disabled selected>{{textMethodPay}}</option>
                            <option class="size_1" *ngFor="let methodItem of methodPaymentModel" [ngValue]="methodItem">{{methodItem.paymentMethodName}}</option>
                        </select>
                    </form>
                    <input type="number" [(ngModel)]="changesInvoice" class="input col_8 size_2 text_color_two text_end" placeholder="{{textSymbolPrice}} {{invoiceEnd.invoiceTotal | number}}" (input)="substractChanges()">
                </div>
            </div>
            <div class="col_17 py_1 col_between border_y">
                <p class="size_1">{{textChange}}</p>
                <p class="size_1">{{textSymbolPrice}} {{changesTotal | number}}</p>
            </div>
        </div>
        <div class="col_17 col_between">
            <button class="col_8 btn_two size_2" (click)="modalEventTwo()">{{textFail}}</button>
            <button type="submit" (click)="generalInvoicePay()" class="col_8 btn_one size_2">{{textPay}}</button>
        </div>
    </div>
</section>