<section class="row_evenly inherit border_start">
    <div class="col_start col_17 h_10 border_end">
        <div class="bg_color_one row_center col_17 px_1">
            <a (click)="modalEventOne()" class="input col_10 size_1 bg_color">Cliente</a>
        </div>
    </div>
    <div class="col_17 h_60 border_end">
        <div class="col_17 px_1">
            <table class="size_1 col_17">
                <thead>
                    <tr>
                        <th class="col_8 col_start">{{textProduct}}</th>
                        <th class="col_3">{{textAmount}}</th>
                        <th class="col_3">{{textTotalTable}}</th>
                        <th class="col_3">{{textSubTotalTable}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detailItem of detailInvoice; let i = index">
                        <td class="text_color_two">{{detailItem.productEntity.productName}}</td>
                        <td class="text_center text_color_two">{{detailItem.detailAmount}}</td>
                        <td class="text_center text_color_two">{{updateCalculatedValue(detailItem)}}</td>
                        <td class="text_center text_color_two">{{detailItem.detailSubTotal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row_center col_17 h_30">
        <div class="row_evenly h_10">
            <div class="col_17 px_1">
                <div class="col_between col_17">
                    <p class="size_1">{{textSubTotal}}</p>
                    <p class="size_1 text_color_two">{{textSymbol}} {{totalPriceProducts}}</p>
                </div>
            </div>
            <div class="col_17 px_1 border_y">
                <div class="col_between col_17">
                    <p class="size_1">{{textIva}}</p>
                    <p class="size_1 text_color_two">{{textSymbol}} {{(totalPriceProducts * textCoinIva)/100}}</p>
                </div>
            </div>
            <div class="col_17 px_1">
                <div class="col_between col_17">
                    <p class="size_1">{{textTotal}}</p>
                    <p class="size_1">{{textSymbol}} {{totalPriceProducts}}</p>
                </div>
            </div>
        </div>
        <div class="row_center col_17 h_20 border_y">
            <div class="col_center col_17">
                <button (click)="modalEventTwo()" class="col_10 btn_one size_1">{{textPay}}</button>
            </div>
        </div>
    </div>
</section>