<section class="row_evenly inherit border_start">
    <div class="col_start col_17 h_10 border_end">
        <div *ngIf="!customer" class="bg_color_one row_center col_17 px_1">
            <a type="submit" (click)="modalEventOne()" class="input col_10 size_1 bg_color">{{textCustomer}}</a>
        </div>
        <div *ngIf="customer" class="bg_color_one col_between item_center col_17 px_1">
            <label class="input col_9 size_1 bg_color">{{customer.customerName}}</label>
            <label class="input col_7 size_1 bg_color">{{customer.customerIdentification}}</label>
        </div>
    </div>
    <div class="col_17 h_60 border_end">
        <div class="col_17 px_1">
            <table class="size_1 col_17">
                <thead>
                    <tr>
                        <th class="col_7 col_start">{{textProduct}}</th>
                        <th class="col_4">{{textAmount}}</th>
                        <th class="col_3">{{textTotalTable}}</th>
                        <th class="col_3">{{textSubTotalTable}}</th>
                    </tr>
                </thead>
            </table>
            <div class="col_17 h_51 scroll">
                <div class="col_center py_1" *ngFor="let detailItem of detailInvoice; let i = index">
                    <div class="col_7 text_color_two">{{detailItem.productEntity.productName}}</div>
                    <a type="submit" (click)="eventSubtract(i)" class="col_1 addition text_center"> - </a>
                    <div class="col_2 text_center text_color_two">{{detailItem.detailAmount}}</div>
                    <a type="submit" (click)="eventAddition(i)" class="col_1 addition text_center"> + </a>
                    <div class="col_3 text_center text_color_two">{{updateCalculatedValue(detailItem)}}</div>
                    <div class="col_3 text_end text_color_two">{{detailItem.detailSubTotal}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row_center col_17 h_30">
        <div class="row_evenly h_10">
            <div class="col_17 px_1">
                <div class="col_between col_17">
                    <p class="size_1">{{textSubTotal}}</p>
                    <p class="size_1 text_color_two">{{textSymbol}} {{totalPriceProducts}}</p>
                </div>
            </div>
            <div class="col_17 px_1 border_y">
                <div class="col_between col_17">
                    <p class="size_1">{{textIva}}</p>
                    <p class="size_1 text_color_two">{{textSymbol}} {{(totalPriceProducts * textCoinIva)/100}}</p>
                </div>
            </div>
            <div class="col_17 px_1">
                <div class="col_between col_17">
                    <p class="size_1">{{textTotal}}</p>
                    <p class="size_1">{{textSymbol}} {{totalPriceProducts}}</p>
                </div>
            </div>
        </div>
        <div class="row_center col_17 h_20 border_y">
            <div class="col_center col_17">
                <button (click)="modalEventTwo()" class="col_10 btn_one size_1">{{textPay}}</button>
            </div>
        </div>
    </div>
</section>