.text_center{
    color: var(--color_fifteen);
}
.border_start{
    border-left: 1px solid;
    border-color: var(--color_three);
}
.border_end{
    border-bottom: 1px solid;
    border-color: var(--color_three);
}
.border_y{
    border-top: 1px solid;;
    border-bottom: 1px solid;
    border-color: var(--color_three);
}
.input{
    padding-top: calc(0.3vw);
    padding-bottom: calc(0.3vw);
    border-radius: 10px;
}
.bg_color{
    background-color: var(--color_seven);
    color: var(--color_fourteen);
}
.bg_color:hover{
    color: var(--color_fifteen);
}
th{
    padding-top: calc(0.6vh);
    padding-bottom: calc(0.6vh);
}
.py_1{
    padding-bottom: calc(0.6vh);
    padding-top: calc(0.6vh);
}
.scroll {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scroll::-webkit-scrollbar {
    width: 0px;
}
.addition{
    background-color: var(--colot-seven);
    border: none;
    cursor: pointer;
}
.svg_width{
    width: calc(1.5vh + 0.8vw);
    fill: var(--color_two);
}
.svg_width:hover{
    fill: var(--color_fifteen);
}
.width:hover .svg_width{
    fill: var(--color_fifteen);
}