<section class="row_evenly inherit border_start">
    <div class="bg_color_one row_center item_center col_17 h_10 border_end">
        <div *ngIf="errorCustomer" class="text_color size text_center">
            {{errorMessage}}
        </div>
        <div class="col_17">
            <div *ngIf="!customer" class="col_between col_17 px_1">
                <a type="submit" (click)="modalEventOne()" class="input col_10 size_1 bg_color">{{textCustomer}}</a>
                <input type="text" [(ngModel)]="identificationCustomer" name="identificationCustomer" (keyup.enter)="getCustomer()" placeholder="Buscar Cliente" class="input col_6 size_1 bg_color">
            </div>
            <div *ngIf="customer" class="item_center col_17 px_1">
                <div class="input col_17 col_evenly bg_color input_special">
                    <label class="col_15 size_1 text_color_two input_special">{{customer.customerName}}</label>
                    <div class="col_2 col_center">
                        <svg xmlns="http://www.w3.org/2000/svg" (click)="modalEdit()" class="svg_width" fill="" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col_17 h_60 border_end">
        <div class="col_17 px_1">
            <table class="size_1 col_17">
                <thead>
                    <tr>
                        <th class="col_6 col_start">{{textProduct}}</th>
                        <th class="col_3">{{textAmount}}</th>
                        <th class="col_4">{{textTotalTable}}</th>
                        <th class="col_4 text_end">{{textSubTotalTable}}</th>
                    </tr>
                </thead>
            </table>
            <div class="col_17 h_51 scroll">
                <div class="col_center py_1 item_center" *ngFor="let detailItem of detailInvoice; let i = index">
                    <div class="size col_6 text_color_two">{{detailItem.productEntity.productName}}</div>
                    <a type="submit" (click)="eventSubtract(i)" class="size col_1 addition text_center"> - </a>
                    <div class="size col_1 text_center text_color_two">{{detailItem.detailAmount}}</div>
                    <a type="submit" (click)="eventAddition(i)" class="size col_1 addition text_center"> + </a>
                    <div class="size col_4 text_center text_color_two">{{textSymbol}} {{updateCalculatedValue(detailItem) | number}}</div>
                    <div class="size col_4 text_end text_color_two">{{textSymbol}} {{detailItem.detailSubTotal | number}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row_center col_17 h_30">
        <div class="row_evenly h_10">
            <div class="col_17 px_1">
                <div class="col_between col_17">
                    <p class="size_1">{{textSubTotal}}</p>
                    <p class="size_1 text_color_two">{{textSymbol}} {{totalPriceProducts | number}}</p>
                </div>
            </div>
            <div class="col_17 px_1 border_y">
                <div class="col_between col_17">
                    <p class="size_1">{{textIva}}</p>
                    <p class="size_1 text_color_two">{{textSymbol}} {{totalIVA | number}}</p>
                </div>
            </div>
            <div class="col_17 px_1">
                <div class="col_between col_17">
                    <p class="size_1">{{textTotal}}</p>
                    <p class="size_1">{{textSymbol}} {{totalPriceProducts | number}}</p>
                </div>
            </div>
        </div>
        <div class="row_center col_17 h_20 border_y">
            <div class="col_center col_17">
                <button (click)="modalEventTwo()" class="col_10 btn_one size_1">{{textPay}}</button>
            </div>
        </div>
    </div>
</section>