<main class="h_100 col_start">
    <app-modal-one *ngIf="modal" class="h_100 h_100_mv" (modalActivate)="modalActivateTwo($event)" ></app-modal-one>
    <app-section-navbar class="col_2"></app-section-navbar>
    <section class="col_15 h_100">
        <app-section-header class="col_17 h_8 d_none_mv"></app-section-header>
        <app-section-one class="col_17 col_17_mv h_30"></app-section-one>
        <app-section-two *ngIf="!component" (eventCategoryAddComponent)="eventCategoryAddComponent($event)" (eventPaymentAddComponent)="eventPaymentAddComponent($event)" (eventStoreAddComponent)="eventStoreAddComponent($event)" class="col_17 h_62"></app-section-two>
        <app-section-three *ngIf="componentThree" (modalActivate)="modalActivate($event)" (eventStoreAddComponent)="eventStoreAddComponent($event)" class="col_17 h_62"></app-section-three>
        <app-section-four *ngIf="componentFour" (modalActivate)="modalActivate($event)" (eventPaymentAddComponent)="eventPaymentAddComponent($event)" class="col_17 h_62"></app-section-four>
        <app-section-five *ngIf="componentFive" (modalActivate)="modalActivate($event)" (eventCategoryAddComponent)="eventCategoryAddComponent($event)" class="col_17 h_62"></app-section-five>
    </section>
</main>