.border_radius_div{
    border-radius: 30px;
}
.svg_width{
    width: calc(1vh + 1.5vw);
    fill: var(--color_two);
}
.svg_width:hover{
    width: calc(1vh + 1.5vw);
    fill: var(--color_one);
}
.bg_color{
    background-color: var(--color_eight);
}
.cursor{
    cursor: pointer;
}