<section class="room row_evenly inherit">
    <div class="col_center col_17">
        <input class="col_17 input size_1" type="text" name="productSelection" [(ngModel)]="productSelection" placeholder="Digita el producto a buscar" #productInput>
    </div>
    <div class="col_around col_17">
        <div class="row_center col_1">
            <a class="col_center">
                <svg xmlns="http://www.w3.org/2000/svg" class="svg_width" fill="" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
            </a>
        </div>
        <div class="col_around col_15">
            <div class="col_3 text_center" *ngFor="let categoryItem of category">
                <div class="col_center">
                    <div class="border img_width">
                        <img src="" alt="">
                    </div>
                </div>
                <h5 class="size_1 py_1">{{categoryItem.categoryName}}</h5>
            </div>
        </div>
        <div class="row_center col_1">
            <a class="col_center">
                <svg xmlns="http://www.w3.org/2000/svg" class="svg_width" fill="" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
            </a>
        </div>
    </div>
</section>
