<section class="room row_evenly inherit">
    <div class="col_center col_17">
        <input class="col_17 input size_1" type="text" name="productSelection" [(ngModel)]="productSelection"
            placeholder="Digita el producto a buscar" #productInput>
    </div>
    <div class="col_between col_17">
        <div class="col_6">
            <form [formGroup]="categoryForm" class="col_17">
                <select formControlName="categoryItem" class="col_17 select size_1" (change)="readProductForCategory()">
                    <option class="size_1" value="" disabled selected>Seleccionar Categoria</option>
                    <option class="size_1" *ngFor="let categoryItem of category" [ngValue]="categoryItem">{{ categoryItem.categoryName }}</option>
                </select>
            </form>
        </div>
        <div class="col_11 ps_1">
            <h1 class="title cursor bg_color text_center size_1" (click)="readProductAllProduct()">{{textAllProduct}}</h1>
        </div>
    </div>
    

    
    
  
</section>