.ng-valid:not(form).ng-touched   {
    padding-top: calc(1.2vw);
    padding-bottom: calc(1.2vw);
    text-indent: 3vh;
    border: 1px solid;
    border-color: var(--color_three);
}
.ng-valid:hover.ng-touched   {
    border-color: var(--color_twelve);
    box-shadow: 0 0 1px var(--color_thirteen);
}
.ng-valid:focus.ng-touched   {
    border: 1px solid var(--color_thirteen);
    box-shadow: 0 0 4px var(--color_thirteen);
    outline: none;
}
.border_radius_div{
    border-radius: 30px;
}
.svg_width{
    width: calc(1vh + 1.5vw);
    fill: var(--color_two);
}
.svg_width:hover{
    width: calc(1vh + 1.5vw);
    fill: var(--color_one);
}
.bg_color{
    background-color: var(--color_eight);
}