@import url(/src/styles.scss);

.svg_width{
    width: calc(3.5vw + 2vh);
    transition: width 0.3s ease;
}
.svg_width:hover{
    width: calc(4.5vw + 2vh);
}
.navegation{
    fill: #414141;
}
.navegation:hover svg{
    fill: var(--color_one);
}
.border_bottom{
    border-bottom: 1px solid;
    border-color: var(--color_two);
}
.svg_width_logo{
    width: calc(6vw + 5.5vh);
    transition: width 0.3s ease;
}
.svg_width_logo:hover{
    width: calc(6.5vw + 5.5vh);;
}